---
- key: DEV_FULL_NAME
  value: Kumar Gaurav
- key: DEV_EMAIL
  value: grv.rkg@gmail.com
- key: VC_USER
  value: measdot
- key: VC_PASS
  value: #############
- key: SERVERS_DEFAULT_USER
  value: kgaurav